*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!/patch/**
/fceux-am
/am-kernels
/nvboard
/oss-cad-suite
/yosys-sta
/npc/obj_dir/*
/rt-thread-am/*